<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sitech.sitechmaps">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application  android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.sitech.sitechmaps.activity.StartStripActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>
    </application>
</manifest>
